@charset "utf-8";

@import "../lib/normalize/normalize";

@import "_variables";
@import "_override";
@import "_core/variables";

@import "_mixin/index";

@import "_core/base";
@import "_core/layout";

@import "_page/index";

@import "_core/header";
@import "_core/footer";
@import "_core/pagination";
@import "_core/media";

@import "_custom";

details {
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  padding: 0.5rem;
  border-radius: 5px;
}

summary {
  font-weight: bold;
  cursor: pointer;
}

details[open] summary::after {
  content: "▲";
  float: right;
}

summary::after {
  content: "▼";
  float: right;
}

