{{ $icon := .Get 0 }}
{{ if eq $icon "scopus" }}
  <img src="scopus.png" alt="Scopus Icon" style="width: 20px; height: 20px;">
{{ else if eq $icon "google-scholar" }}
  <img src="google_scholar.svg" alt="Google Scholar Icon" style="width: 20px; height: 20px;">
{{ else if eq $icon "orcid" }}
  <img src="orcid.svg" alt="Orcid Icon" style="width: 20px; height: 20px;">
{{ else if eq $icon "researchgate" }}
  <img src="researchgate.png" alt="Research Gate Icon" style="width: 20px; height: 20px;">
{{ else if eq $icon "dblp" }}
  <img src="dblp.png" alt="dblp Icon" style="width: 20px; height: 20px;">
{{ else }}
  <i class="fa-brands fa-{{ $icon }}"></i>
{{ end }}
