<tr>
    <td style="vertical-align: top; white-space: nowrap; font-weight: bold;">
        {{ .Get "year" }}
    </td>
    <td>
        <p style="font-weight: bold; text-transform: uppercase;">{{ .Get "title" }}</p>
        {{ with .Get "role" }}
            <p><strong>Role:</strong> {{ . }}</p>
        {{ end }}
        {{ with .Get "project" }}
            <p><strong>Project:</strong> {{ . }}</p>
        {{ end }}
        {{ with .Get "grant" }}
            <p><strong>Value of the grant:</strong> {{ . }}</p>
        {{ end }}
    </td>
</tr>

