<tr>
    <td>
        <p style="font-weight: bold;">{{ .Get "project" }}</p>
        {{ with .Get "role" }}
            <p><strong>Role:</strong> {{ . }}</p>
        {{ end }}
        {{ with .Get "grant" }}
            <p><strong>Value of the grant:</strong> {{ . }}</p>
        {{ end }}
		{{ with .Get "name" }}
            <p><strong>Grant name:</strong> {{ . }}</p>
        {{ end }}
		{{ with .Get "entity" }}
            <p><strong>Financing entity:</strong> {{ . }}</p>
        {{ end }}		
		{{ with .Get "year" }}
            <p><strong>Year:</strong> {{ . }}</p>
        {{ end }}
    </td>
</tr>

