{{ if .Get "date" }}
<i class="far fa-calendar-alt"></i> {{ .Get "date" }}, &nbsp; 
{{ end }}
{{ if .Get "location" }} 
<i class="fas fa-map-marker-alt "></i>  <strong>{{.Get "location"}}</strong>,  {{end}} &nbsp; 
{{ if .Get "link" }}
<a href="{{ .Get "link" }}" target="blank">  
{{ end }}
{{ if .Get "conference" }} {{.Get "conference"}} {{end}}  </a> 
&nbsp;  
{{ if .Get "slides" }}
<a href="{{ .Get "slides" }}" target="blank" style="color:#FF0000;"> 
<i class="far fa-file-pdf"></i> Slides </a> 
{{ end }}
{{ if .Get "poster" }}
{{ if .Get "slides" }}
&nbsp; 
{{end}}
<a href="{{ .Get "poster" }}" target="blank" style="color:#FF7F50;"> 
<i class="far fa-file-pdf"></i> Poster </a>   
{{ end }}
{{ if .Get "video" }}
&nbsp; <a href="{{ .Get "video" }}" target="blank" style="color:#0dbd25;"> 
<i class="fas fa-video"></i> Recording </a>   
{{ end }}
<br>
{{ if .Get "title" }}
<i> {{ .Get "title" }}  </i>
{{ end }}